@tailwind base;
@tailwind components;
@tailwind utilities;
.ticker {
    display: flex;
    animation: ticker 20s linear infinite;
    white-space: nowrap;
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  